@import '../../styles/abstracts/variables';
.landing {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  overflow-x: hidden;
  margin-bottom: 10rem;
  width: 100vw;
  padding: 10rem 15rem;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 45%;
  }

  &__title {
    font-size: 8rem;
    line-height: 9rem;
    color: $color-black;
    letter-spacing: -0.2rem;
  }

  &__caption {
    margin-bottom: 4rem;
    font-size: 2.2rem;
    color: $color-gray;
    letter-spacing: 0.15rem;
  }

  &__btn {
    width: 19.7rem;
    height: 5.6rem;
    border: none;
    border-radius: 3rem;

    background-color: $color-cyan;

    h2 {
      color: white;
    }

    &:hover {
      background-color: $color-light-cyan;
      cursor: pointer;
    }
  }

  &__img {
    position: absolute;
    right: -10rem;
  }
}

@media only screen and (max-width: $bp-largest) {
  .landing {
    margin-top: 7rem;

    &__img {
      right: -25rem;
      transform: scale(0.9, 0.9);
    }
  }
}

@media only screen and (max-width: $bp-large) {
  .landing {
    margin-top: 10rem;
    padding: 5rem 5rem;

    &__info {
      width: 35%;
    }

    &__img {
      right: -30rem;
    }

    &__img path {
      overflow-x: hidden;
    }
  }
}

@media only screen and (max-width: $bp-medium) {
  .landing {
    flex-direction: column-reverse;
    margin-top: 0rem;

    &__img {
      position: static;
      margin-right: -30rem;
    }

    &__img path {
      overflow-x: hidden;
    }

    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      margin-top: 5rem;
    }

    &__title {
      font-size: 4.2rem;
      margin-bottom: 3rem;
    }
  }
}

@media only screen and (max-width: $bp-small) {
  .landing {
    padding: 0rem 2rem;
    &__info {
      margin-top: 0rem;
      width: 100%;
    }

    &__img {
      position: static;
      transform: scale(0.7, 0.7);
      margin-right: -20rem;
    }

    &__title {
      font-size: 4.2rem;
      line-height: 4.8rem;
    }

    &__caption {
      font-size: 1.8rem;
      line-height: 3rem;
    }
  }
}
