$color-black: #34313d;
$color-dark-purple: #3a3054;
$color-purple: #4b3f6b;
$color-gray: #9e9aa8;
$color-light-gray: #bfbfbf;
$color-off-white: #eff1f7;
$color-cyan: #2bd0d0;
$color-light-cyan: #9ae3e3;

$bp-largest: 84.5em; // 1400px
$bp-large: 75em; // 1200px
$bp-medium: 52em; // 800px;
$bp-small: 37.5em; // 600px;
$bp-smallest: 25em; // 400px;
