@import '../../styles/abstracts/variables';

.shortener__card {
  width: 100%;
  padding: 0rem 15rem;
  background: linear-gradient(to bottom, #ffffff 50%, transparent 50%);
}

.shortener {
  display: flex;
  align-items: center;
  padding: 6rem 6.5rem;
  border-radius: 1rem;
  position: relative;

  background: url('../../assets/images/bg-shorten-desktop.svg');
  background-color: $color-dark-purple;
  background-size: cover;

  &__input {
    border: none;
    border-radius: 1rem;
    height: 6.4rem;
    width: 100%;
    padding-left: 3rem;
    padding-top: 0.5rem;
    outline: none;
    font-size: 2rem;

    &::placeholder {
      font-size: 2rem;
      color: $color-gray;
      line-height: 3.6rem;
      letter-spacing: 0.15rem;
    }

    &--error {
      border-top: 0.3rem solid #f46363;
      border-bottom: 0.2rem solid #f46363;
      border-left: 0.3rem solid #f46363;
      border-right: 0.3rem solid #f46363;

      &::placeholder {
        font-size: 2rem;
        color: #f46363;
        line-height: 3.6rem;
        letter-spacing: 0.15rem;
      }
    }
  }

  &__error-text {
    position: absolute;
    bottom: 3rem;
    font-style: italic;
    font-size: 1.6rem;
    color: #f46363;
  }

  &__btn {
    border: none;
    border-radius: 1rem;
    height: 6.4rem;
    width: 18.8rem;
    margin-left: 3rem;
    background-color: $color-cyan;

    h2 {
      color: white;
      font-size: 2rem;
    }

    &:hover {
      background-color: $color-light-cyan;
      cursor: pointer;
    }
  }
}

.cards {
  margin-top: 3rem;
  padding: 0rem 15rem;
}

@media only screen and (max-width: $bp-large) {
  .shortener__card {
    padding: 0 5rem;
  }

  .cards {
    padding: 0 5rem;
  }
}

@media only screen and (max-width: $bp-small) {
  .shortener__card {
    padding: 0rem 2rem;
  }

  .shortener {
    padding: 2.5rem 3rem;
    flex-direction: column;
    align-items: unset;

    background: url('../../assets/images/bg-shorten-mobile.svg');
    background-color: $color-dark-purple;
    background-size: cover;
    background-repeat: no-repeat;
    &__input {
      margin-bottom: 1rem;
    }

    &__error-text {
      position: static;
      margin-bottom: 2rem;
    }

    &__btn {
      width: 100%;
      margin-left: 0;
    }
  }

  .cards {
    padding: 0 2rem;
  }
}
