@import './styles/abstracts/variables';
.app {
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.details-container {
  width: 100vw;
  padding: 3rem 15rem;
}

@media only screen and (max-width: $bp-large) {
  .landing-container {
    height: 100%;
  }

  .details-container {
    padding: 3rem 5rem;
  }
}
